{{ partial "header.html" . }}
<div class="w-90 center">
  <h1>{{.Params.name}}</h1>
  <p class="f4">
  {{ partial "role-company" (dict "role" .Params.role "company" .Params.company) }}
  </p>
  {{if .Params.location}}
    <p>Based in {{.Params.location}}</p>
  {{ end }}

  <h3>Links</h3>
  <ul class="list pl0">
    {{ range sort .Params.social_links "name"}}
      <li class="mb3">
        <a class="link ttu tracked underline-hover blue b" href="{{.url}}">{{.name}}</a>
      </li>
    {{ end }}
  </ul>
</div>
